mixin sidelink(title, path, cssName)
	li(class='#{cssName}')
		a(href='#{path}') #{title}

div#sidebar-wrapper
	ul.sidebar-nav
		+sidelink('.MGNT//', '/', 'sidebar-brand')
		+sidelink('Users', '/users')
		+sidelink('Shortcuts', '/')
		+sidelink('Overview', '/')
		+sidelink('Events', '/')
		+sidelink('About', '/')
		+sidelink('Services', '/')