mixin formrow(identificador, texto, rotulo)
	input(class='form-control', id='input#{identificador}',type='text', placeholder='#{texto}')

extends layout

block content
	h1= title

	// Wrapper
	#wrapperUser.container
		.row
			// ADD USER
			.col-md-12
				
				button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') Add user
				#myModal.modal.fade(role='dialog')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								h2 Add User
							.modal-body
								form#addUser
									.row
										.col-md-12
											.form-group
												+formrow('UserName','Username', 'Username')
											.form-group
												+formrow('UserEmail','Email', 'E-mail')		
											.form-group
												+formrow('UserFullname','Full Name', 'Full Name')
											.form-group
												+formrow('UserAge','Age', 'Age')
											.form-group
												+formrow('UserLocation','Location', 'Location')
											.form-group
												+formrow('UserGender','Gender', 'Gender')
											.form-group
												fieldset
													legend Choose a skill:
													label(for='skill-power') Power
													input(type='checkbox', name='power', id='skill-power')
													label(for='skill-courage') Courage
													input(type='checkbox', name='courage', id='skill-courage')
													label(for='skill-wisdom') Wisdom
													input(type='checkbox', name='wisdom', id='skill-wisdom')
							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close
								button#btnAddUser.btn.btn-primary(type='button', data-dismiss='modal') Add
			// /ADD USER
		
		.row
			// USER LIST
			.col-md-12
				#formUserList
					table#userList.table.table-hover
						thead
							th
							th UserName
							th Email
							th Delete?
						tbody
			// /USER LIST

			#modalUserInfo.modal.fade(role='dialog')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							h2 INFO
						.modal-body
							.form-inline
								.row
									.col-md-12
										label Name:
										|  <span id='userInfoName'></span>
								.row
									.col-md-12
										label Name:
										|  <span id='userInfoUsername'></span>
								.row
									.col-md-12
										label Age:
										|  <span id='userInfoAge'></span>
								.row
									.col-md-12
										label Gender:
										|  <span id='userInfoGender'></span>
								.row
									.col-md-12
										label Location:
										|  <span id='userInfoLocation'></span>
								.row
									.col-md-12
										#userInfoSkills
						.modal-footer
	// /WRAPPER

block append scripts
	script(src='/javascripts/script_users.js') 